.section_apply {
  padding: 20px 0px 80px 0px;
  margin: 0px 8.4vw;
}

.title {
  color: yellow;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 28px;
  color: #4df6e2;
}

.info {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 28px;
}

.form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.input {
  background-color: transparent;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  padding: 10px 0px;
  margin-bottom: 28px;
  font-size: 16px;
  color: #4df6e2;
}

.input::placeholder {
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.selector {
  margin-bottom: 28px;
}

.label {
  font-weight: bold;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.select {
  width: 100%;
  background-color: transparent;
  color: #4df6e2;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  border-radius: 0px;
  padding: 10px 0px;
}

.select::placeholder {
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.select:focus {
  background-color: black;
  color: #4df6e2;
}

.textarea {
  width: 100%;
  height: 16vh;
  padding: 12px 8px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #4df6e2;
  overflow: hidden;
}

.textarea_div {
  margin-bottom: 16px;
}

.checkbox {
  display: flex;
  margin-bottom: 24px;
}

.line {
  margin-left: 8px;
  font-size: 14px;
}

.cta {
  width: 100%;
  padding: 8px 4px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #580297;
}

.cta:hover {
  background-color: black;
  border: 2px solid #580297;
}
.btn {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.7s ease;
  background-color: transparent;
}

@media (max-width: 768px) {
  .form {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 22px;
  }
  .subtitle {
    font-size: 32px;
    line-height: 1.2em;
    margin-bottom: 34px;
    color: #4df6e2;
  }
}

@media (max-width: 582px) {
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .title,
  .subtitle {
    text-align: center;
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 28px;
  }
}
