@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

:root {
  --bg: #000;
  --text-color: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
